

.detailsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90%;
    background-image: linear-gradient(to bottom, #4caf50, #2196F3);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
  }
  
  .carFullDetails {
    border: 1px solid #ddd;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 20%;
    text-align: center;
    border-radius: 8px;
  }
  
  .carFullDetails h2 {
    font-size: 32px;
    margin: 0;
    padding: 20px 0;
    border-bottom: 2px solid #007bff;
    color: #007bff;
  }
  
  .detailsContent {
    padding: 20px 0;
  }
  
  .detailsContent p {
    margin: 0;
    font-size: 18px;
  }
  
  .view-btn {
    display: inline-block;
    margin-right: 20px;
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  .view-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05); 
  }
  
  .deleteCarButton {
    display: inline-block;
    padding: 12px 24px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  .deleteCarButton:hover {
    background-color: #cc0000;
    transform: scale(1.05); /* Add a slight scale effect on hover for a better button feel */
  }